body {
  background: rgb(60, 139, 212);
}

.title {
  background: white;
  width: 40%;
  height: 120px;
  box-shadow: 5px 10px 20px;
  border-radius: 100%;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  font-size: 50px;
  padding-top: 25px;
}

ul {
  background: rgb(175, 200, 224);
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 1,7em;
  text-decoration: none;
  list-style: none;
}